/*
 * metismenu - v2.2.0
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu#readme
 *
 * Made by Osman Nuri OkumuÅŸ <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */

#menu {
    margin-top: 8px;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Poppins', sans-serif;
}

#menu li a {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px;
}

#menu li {
    padding: 0px 0px;
	border-bottom: 1px solid rgba(189, 195, 199,.1);
}

#menu li> ul> li{
	border-bottom: none;
}

#menu li ul {
    list-style-type: none;
    padding: 0px;
    min-width: 220px;
    /*max-height: 250px;*/
    overflow: hidden;
    background-color: #201f2b;
}

#menu li ul li a::before {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f101";
	margin-right: 5px;	 
}

#menu li ul li a {
	padding: 13px 0px 13px 20px;
}

#menu li a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

#menu > li.active > a {
    background: #db1430;
}

.active-menu {
	background: rgba(0, 0, 0, 0.3);
}

#menu i {
    position: absolute;
    font-size: 16px;
    margin-top: 3px;
}

.menu-title {
    margin-left: 30px;
    line-height: 25px;
}

@media (max-width: 768px) {
    #menu li {
        position: relative;
    }

    #menu > li ul {
        position: absolute;
        top: 46;
        min-width: 180px;
        display: none;
    }

    #menu li:hover > ul,
    #menu li:hover > ul.collapse {
        display: block !important;
        height: auto !important;
        z-index: 1000;
        background: #00bcd4;
        visibility: visible;
    }
}

.micro_menu {
    position: absolute;
    background: #00bcd4;
    width: 180px;
    margin-left: 53px;
    margin-top: -42px;
    padding-left: 0 !important;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
}

.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}

*[dir="rtl"] .metismenu .arrow {
    float: left;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
    content: "\e080";
    font-size: 10px;
    font-weight: normal;
}

.metismenu .active > a > .glyphicon.arrow:before {
    content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
    content: "\f104";
}

.metismenu .active > a > .fa.arrow:before {
    content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
    content: "\f3d2"
}

.metismenu .active > a > .ion.arrow:before {
    content: "\f3d0";
}

.metismenu .plus-times {
    float: right;
}

*[dir="rtl"] .metismenu .plus-times {
    float: left;
}

.metismenu .fa.plus-times:before {
    content: "\f067";
}

.metismenu .active > a > .fa.plus-times {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.metismenu .plus-minus {
    float: right;
}

*[dir="rtl"] .metismenu .plus-minus {
    float: left;
}

.metismenu .fa.plus-minus:before {
    content: "\f067";
}

.metismenu .active > a > .fa.plus-minus:before {
    content: "\f068";
}

.metismenu .collapse {
    display: none;
}

.metismenu .collapse.in {
    display: block;
}

.metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}
