html {
    overflow-x: hidden;
}

body {
    background: #e4e9f0;
	padding: 0 !important;
	margin: 0 !important;
	font-family: 'Poppins', sans-serif;
}

#content-area{
	padding:0px 20px;
}

#main-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.select_store{
	color: #222;
    width: 150px;
    float: right;
    padding: 0px 10px;
    border: none;
}

.bootstrap-select > .btn-default{
	border:1px solid #CCC;
	padding: 7px 11px;
}

.clear {
    clear: both;
}
.no-export .btn-group{display:none;}

.setting-logo {
    border: 1px solid #ccc;
    max-width: 100%;
    margin-bottom: 10px;
}

.mt-30{
	margin-top:30px;
}

.adjust-row-margin{
	margin:0 !important;
}

.panel-heading > a.pull-right{
	margin-top: -1px;
}

#clickme {
    width: 100%;
    background: #fff;
    border: 1px solid #ebebeb;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.panel-default>.panel-heading,
.panel:not([class*="panel-"])>.panel-heading {
    color: #000;
    font-family: 'Poppins', sans-serif;
    padding: 20px 15px;
    font-size: 18px;
    background-color: #FFF;
    border-left: 5px solid #2196F3;
	border-bottom: 1px solid #2196F3;
}


/* Header Style */

.admin-head {
    width: 100%;
    height: 62px;
    background: #201f2b;
}

.left-header {
    width: 50%;
}

.right-header {
    width: 50%;
    float: right;
    margin-right: 30px;
}

.temp-logo {
    margin-top: 25px;
    margin-left: 15px;
    float: left;
}

.mini-nav {
    float: left;
    margin-top: 21px;
    margin-left: 23px;
    color: #fff;
}

.mini-nav i {
    font-size: 30px;
    cursor: pointer;
    background: #34495e;
    padding: 3px 5px;
}

.custom-navbar {
    background-color: #201f2b !important;
    height: 40px;
}

.custom-navbar ul li i {
    position: absolute;
    margin-left: -28px;
}

.top-right-menu {
    color: #CCC !important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


/** Toogle Button Style **/

.mini-nav .togglebutton label input[type=checkbox]:checked+.toggle:after,
.togglebutton-default label input[type=checkbox]:checked+.toggle:after {
    background-color: #db1430;
}

.mini-nav .togglebutton label input[type=checkbox]:checked+.toggle,
.togglebutton-default label input[type=checkbox]:checked+.toggle {
    background-color: aliceblue;
}

.mini-nav .togglebutton label .toggle:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -5px;
    margin-left: 5px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}

.mini-nav .togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled]+.toggle {
    content: "";
    display: inline-block;
    width: 45px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
}

#main_modal{
    padding-right: 0px !important;
    background: rgba(255,255,255,0.3);
}

.modal-header .modal-btn{
	padding: 6px 10px;
	border-radius: 0px;
	border:1px solid;
	margin-left:5px;
	margin-top: -9px;
}

.fullscreen-modal {	
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullscreen-modal > .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.fullscreen-modal > .modal-content .modal-body {
    padding-top: 10px;
	overflow-y: visible !important;
	max-height:100% !important; 
}

.modal-body{
	width: 100%;
}

.form-horizontal .control-label, .form-horizontal label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 500;
}

/* Preloader */
#preloader{
	display: none;
	background: rgba(39, 60, 117,.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1100 !important;
}

#preloader > .bar {
  display: inline-block;
  padding: 0px;
  text-align: left;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);	
  width: 150px;
  height: 20px;
  border: 1px solid #2980b9;
  border-radius: 3px;
  background-image: 
    repeating-linear-gradient(
      -90deg,
      #34495e,
      #34495e 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move .8s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}



/** Form File Control **/

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

input[type=file] {
    display: block;
}

.form-control {
    border: 1px solid #747d8c;
    border-radius: 4px;
    padding: 10px;
    background-image: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-control:focus,
.form-control.focus {
    padding: 10px;
    border-radius: 4px;
    background-image: none !important;
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    border: 1px solid #000000;
}

.form-control:disabled{
	border: 1px solid #CCC;
	background: #DDD;
}

select.input-sm {
    height: 36px;
    line-height: 30px;
}

select.form-control {
    border: 1px solid #747d8c;
    box-shadow: none;
    border-radius: 4px;
    height: 34px;
    line-height: 30px;
	padding: 0px 10px;
}

select.form-control:focus {
    border: 1px solid #DDD;
    padding: 0px 10px;
}

.form-control[readonly]{
    background-color: rgba(0, 0, 0, 0.1);
}

.thumb-image-sm{
	width: 80px;
}

.thumb-image-md{
	width: 150px;
}

.thumb-image-lg{
	width: 200px;
}

.params-panel{
	border: 1px solid #CCC;
    overflow: hidden;
    padding: 15px;
    border-radius: 4px;
}

.select-product-container{
	border: 1px solid #CCC;
    overflow: hidden;
    padding: 15px;
    border-radius: 4px;
	background: #DDD;
}

/* Content Area Style */

.content-area {
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.page-title {
    width: 100%;
    height: 60px;
    background: #fff;
    color: #263238;
    margin-bottom: 20px;
}

.page-title h2 {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.sidebar {
    width: 250px;
    min-height: 100%;
    padding-bottom: 60px;
    position: absolute;
    background: #282733;
    z-index: 10;
}

.content {
    width: 100%;
    position: relative;
    padding-left: 250px;
    min-height: 800px;
}

.pagination > .active > a,.pagination > .active > span{
	background-color: #007bff;
    border-color: #007bff;
}


/* cart box style */

.widget-label {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.admin-widget-label {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
	padding-top: 10px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.admin-widget-content{
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	margin-top: 0px;
}

.middle-content{
	padding-top: 30px;
}

.middle-content>i{
	color: #fff;
	font-size: 40px;
}


.cart-box-blue {
    height: 170px;
    background: #03a9f4;
    margin-top: 10px;
    text-align: center;
}

.cart-box-sky {
    height: 170px;
    background: #00bcd4;
    margin-top: 10px;
    text-align: center;
}

.cart-box-purpel {
    height: 170px;
    background: #3f51b5;
    margin-top: 10px;
    text-align: center;
}

.cart-box-red {
    height: 170px;
    background: #e91e63;
    margin-top: 10px;
    text-align: center;
}

#income-preview {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#expense-preview {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#monthly-income-preview{
	color: #fff;
    font-family: 'Poppins', sans-serif;
}

#monthly-expense-preview{
	color: #fff;
    font-family: 'Poppins', sans-serif;
}

.cart-text {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.admin-panel {
    margin-top: 20px;
}

.panel-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.dashboard-panel {
    min-height: 350px;
}

.clear {
    clear: both;
}

.admin-footer {
    height: 60px;
    background: #fff;
    width: 100%;
    float: left;
    color: #263238;
}

.admin-footer p {
    float: right;
    margin: 0 0 10px;
    padding-top: 20px;
    font-weight: bold;
    padding-right: 15px;
    font-size: 14px;
}


/*sidebar Style */

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tabular {
    display: table;
    width: 100%;
}

.tabular .tabular-row {
    display: table-row;
}

.tabular .tabular-row .tabular-cell {
    display: table-cell;
    vertical-align: middle;
}

.sidebar .welcome-box {
    transition: 0.5s all ease;
    padding: 24px;
    margin: 0 !important;
}

.sidebar .welcome-box .welcome-avatar {
    width: 56px;
}

.sidebar .welcome-box .welcome-avatar img,
.sidebar .welcome-box .welcome-avatar a {
    display: block;
}

.sidebar .welcome-box .welcome-options {
    margin-left: 48px;
    padding-top: 3px;
}

.sidebar .welcome-box .welcome-options .name,
.sidebar .welcome-box .welcome-options .welcome-text {
    display: block;
}

.sidebar .welcome-box .welcome-options .name:hover,
.sidebar .welcome-box .welcome-options .welcome-text:hover {
    text-decoration: none;
}

.sidebar .welcome-box .welcome-options .name {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.sidebar .welcome-box .welcome-options .welcome-text {
    font-size: 11px;
    color: #aaa;
}

.sidebar .welcome-box .welcome-edit {
    width: 20px;
    text-align: right;
    vertical-align: top !important;
}

.sidebar .welcome-box .welcome-edit .btn-link {
    padding: 0;
    border: none;
    vertical-align: top;
    min-width: 0;
    color: rgba(255, 255, 255, 0.3) !important;
}

.sidebar .welcome-box .welcome-edit .btn-link:hover {
    color: #fff !important;
    text-decoration: none;
}

.border-bottom {
    border-bottom: 1px solid #ecf0f1;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar.navigation-divider {
    margin: 10px 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
}


/* Color Control Box CSS */

#control-box {
    position: fixed;
    right: 0;
    width: 250px;
    padding: 20px;
    background: #e4e9f0;
    z-index: 999;
    top: 50%;
    margin-top: -150px;
}

.close-box {
    background: #444;
    position: absolute;
    right: 250px;
    top: 0;
    cursor: pointer;
}

#control-box i {
    color: #fff;
    font-size: 20px;
    height: 40px;
    padding-top: 9px;
    text-align: center;
    width: 40px;
}

#control-box i .box-close {
    display: none
}

#control-box i .box-open {}

.color-box {
    margin-left: -10px
}

.color-box span {
    display: block;
    float: left;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 62px;
    cursor: pointer;
}

.default-color {
    background: #263238 !important
}

.green-color {
    background: #16a085 !important
}

.blue-color {
    background: #2980b9 !important
}

.darkblue-color {
    background: #34495e !important
}

.lightgreen-color {
    background: #41C484 !important
}

.red-color {
    background: #c0392b !important
}

.carrot-color {
    background: #e67e22 !important
}

.orange-color {
    background: #f39c12 !important
}

.darkpurpel-color {
    background: #e91e63 !important
}

.default-font-color {
    color: #263238 !important
}

.green-font-color {
    color: #16a085 !important
}

.blue-font-color {
    color: #2980b9 !important
}

.darkblue-font-color {
    color: #34495e !important
}

.lightgreen-font-color {
    color: #41C484 !important
}

.red-font-color {
    color: #c0392b !important
}

.carrot-font-color {
    color: #e67e22 !important
}

.orange-font-color {
    color: #f39c12 !important
}

.darkpurpel-font-color {
    color: #e91e63 !important
}

.remove-item {
    cursor: pointer;
    font-size: 20px;
    color: #c0392b;
}

#control-box h2 {
    color: #5c5c5c;
    font-size: 16px;
    margin-bottom: 25px;
}


/* Datatable */

.dataTables_filter {
    margin-top: -35px;
}

.dataTables_filter input {
    font-size: 14px;
}

#contacts-table_filter, #income-table_filter, 
#expense-table_filter, #repeating-income-table_filter, 
#repeating-expense-table_filter{
	margin-top: 0px;
}

table .btn {
    margin: 0px 1px;
}

.note-btn {
    padding: 5px 14px !important;
}

thead{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#stripe-invoice > .stripe-button-el{
	float: left;
	margin-right: 5px !important;
}
.btn-cs{
	border-radius: 5px;
    padding: 6px 28px;
	background-image: linear-gradient(#ef6e6e,#d83737 85%,#8a2525);
}
.btn-paypal{
	    overflow: hidden;
    display: inline-block;
    visibility: visible !important;
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: linear-gradient(#28a0e5,#015e94);
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 1px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}
.btn-paypal span {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275ff;
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
/* Cart Box*/

.cart-icon {
    display: block;
    color: #fff;
    font-size: 70px;
    line-height: 103px;
}


.smtp-section {
    display: none;
}

.sugesstion {
    z-index: 999;
    display: none;
    min-width: 100px;
    min-height: 31px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
}

.sugesstion a,
.sugesstion span {
    display: block;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.sugesstion a:hover {
    background: rgba(0, 0, 0, .7);
}

.item-active {
    background: rgba(0, 0, 0, .7);
}

.invoice-summary {
    background: #dce9f9;
}

.invoice-summary td {
    font-weight: bold;
    font-size: 14px;
}

.invoice-box {
    margin: auto;
    font-size: 16px;
    line-height: 24px;
    color: #555;
    overflow: hidden;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    vertical-align: top;
}

.invoice-box table tr #company-details {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.invoice-logo {
    font-size: 45px;
    line-height: 45px;
    color: #333;
    float: right;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

.invoice-status {
	max-width: 175px;
    padding: 5px 10px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.invoice-box .paid {
    background: #1AB394;
}

.invoice-box .unpaid {
    background: #e46f61;
}

.invoice-box .partially_paid {
    background: #1C84C6;
}

.invoice-box .canceled {
    background: #c0392b;
}

.invoice-box .draft {
    background: #47a1de;
}

.invoice-box .delivered {
    background: #1AB394;
}

.invoice-box .on_hold {
    background: #f1c40f;
}

.invoice-box .accepted {
    background: #1AB394;
}

.invoice-box .lost {
    background: #e74c3c;
}

.invoice-box .dead {
    background: #1abc9c;
}

.invoice-note {
    background: #dce9f9;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}

.invoice-note p {
    margin: 0;
}

#quotation-view{
   padding: 15px;
}

#invoice-view{
   padding: 15px;
}

.debit {
    color: red;
}

.credit {
    color: green;
}

.invoice-summary-right{
	width:30%; 
	margin-left:70%;
}

.pdf .invoice-summary-right{
	width: 40%; 
	margin-left: 60%;
}

.invoice-col-6{
  width: 50%;
  float:left;
  padding-right: 12px;
  padding-left: 12px;
}

.float-md-right{
	float: right;
}

@media only screen and (max-width: 767px) {
   .invoice-summary-right {
      width: 100% !important;
      margin-left: 0px !important;
  }
  .invoice-col-6{
     width: 100% !important;
     float:none !important;
  }
  .float-md-right{
	 float: none;
  }
}

@media print {
   .d-inline-block{
      display: block;
   } 
   .float-md-right{
      float:right;
   }
}

.wp-100{
   width:100px;
}
.wp-230{
	width: 230px;
}
.wp-250{
	width: 250px;
}
.wp-280{
	width: 250px;
}
.wp-300{
   width:300px;
}

.wp-350{
   width:350px;
}

.pb-50{
   padding-bottom:50px;
}	

.mt-27{
   margin-top: 27px;
}

.fs-22{
   font-size: 22px;
}

.pt-5{
   padding-top: 60px !important;
}

.mt-2{
	margin-top: .5rem !important;
}

.pr-3{
   padding-right: 2rem!important;
}


#general-model {
    height: 545px;
    overflow: auto;
    border-bottom: 2px solid #CCC
}

.modal-content .modal-header {
    border-bottom: none;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.modal-title {
    font-size: 16px;
}


.modal-content .modal-body {
    padding-top: 10px;
	overflow-y: scroll !important;
	overflow-x: hidden;
	max-height:500px;
}


#invoice {
    border-bottom: 1px solid #ccc;
}

/* Custom Checkbox */
/* Custom checkbox */
th .c-container {
	margin-top: 12px;
    margin-bottom: 11px;
}
.c-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 23px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.c-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bdc3c7;
}

/* On mouse-over, add a grey background color */
.c-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.c-container input:checked ~ .checkmark {
    background-color: #007bff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.c-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.c-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.red{
	color: red;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
    }
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
    }
}

.report-params {
    border: 2px solid #DDD;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
	overflow: hidden;
}

.report-header{
	text-align:center;
}

.report-header> h5{margin-top:5px;}

.input-group .input-group-addon {
    border: 0;
    background: #ddd;
}

.select-gateway {
    height: 35px;
    border-radius: 5px;
    min-width: 150px;
    padding: 6px;
    border: 1px solid #CCC;
}

.confirm-gateway {
    font-family: 'Poppins', sans-serif;
}

.client-account-sammary {
    width: 60%;
}

.client-account-sammary {
    font-size: 16px;
}

.client-profile-image img {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDD;
}

#activity-nav {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
}

#activity-nav.nav-stacked>li {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#activity-nav.nav-stacked>li.active a {
    background: #2196f3;
    color: #fff !important;
}

#activity-nav.nav-stacked>li a i {
    margin-right: 5px;
}

#activity-nav.nav-stacked>li a {
    color: #555 !important;
    font-size: 16px;
}

#activity-nav.nav-stacked>li a:hover {
    background: #2196f3 !important;
    color: #fff !important;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #e74c3c;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}


/* activity Menu*/

.submit-activity .activity-header .activity-toolbar li {
    display: inline-block;
}

.submit-activity {
    border: 1px solid #d1d1d1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
}

.submit-activity textarea {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 10px 10px 5px;
    border: 0;
    resize: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.submit-activity .activity-header .activity-toolbar {
    list-style: none;
    margin: 0;
    padding: 0 3px;
    float: left;
}

.submit-activity .activity-header .activity-toolbar li a {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    color: #95a5a6;
}

.submit-activity .activity-header .activity-toolbar li a:hover {
    background-color: #e8eaed;
}

.action-active {
    background-color: #e8eaed;
}

#activity-area {
    margin-top: 50px;
    height: 285px;
    overflow: hidden;
}

.cal {
    position: absolute;
    top: 23px;
    color: #f1c40f;
    font-size: 22px;
    margin-left: 10px;
}

.cal:hover {
    color: #e67e22;
}

.cal:focus {
    color: #e67e22;
}

.fake-input {
    border: 1px solid #CCC;
    width: 100%;
    padding: 6px 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

#system-name{
	display: inline-block;
    color: #FFF;
    font-size: 18px;
    float: left;
    margin-top: 17px;
    width: 250px;
    text-align: center;
	font-weight: 400;
}

.member-container{
	border:1px solid #CCC;
	overflow:hidden;
	padding:10px 0px;
}


.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 25px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
	width: 33.33%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.stepwizard-step .btn-default{
	border:1px solid #CCC;
	background-color: #CCC !important;
}

#clickme{
 height:38px;
 background:#e74c3c;
 color:#FFF; 
 max-width:191px;
}

.setting-logo{
	max-width:191px;
}

/* responsive Design */

@media (max-width: 768px) {
    .client-account-sammary {
        width: 100%;
    }
    .right-header {
        display: none;
    }
    .left-header {
        width: 100%;
    }
    .mini-nav {
        display: none;
        float: right;
        margin-right: 15px;
    }
    #DataTables_Table_0_filter {
        margin-top: 0px;
    }
    /* Sidebar */
    .menu-title {
        display: none !important;
    }
    #menu span {
        display: none !important;
    }
    .sidebar {
        width: 60px !important;
    }
    .welcome-options {
        display: none !important;
    }
    .welcome-box {
        padding: 10px !important;
    }
    #menu {
        padding-left: 7px !important;
    }
    #menu li ul {
        display: none !important;
    }
    .content {
        padding-left: 60px !important;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .invoice-control .btn {
        width: 100%;
        margin-top: 3px;
    }
}

/* Sales Screen */
#sales_screen_container{
	min-height:600px;
	clear: both;
}

.sales-footer{
	background: #FFF;
	min-height: 50px;
	text-align: center;
	padding:15px;
	margin:0;
}
.sales-footer p{
	margin:0;
	font-size:16px;
}

#mobile, #accessories, #sales_receipt{
	height:400px;
	border:1px solid #CCC;
	overflow-x: hidden;
	border-radius:5px;
	background:#ecf0f1;
}

#mobile h3, #accessories h3, #sales_receipt h3{
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    background: #263238;
    padding: 10px;
    color: #fff;
}

.search-product{
	width: 100%;
    display: block;
    background: #fff;
    height: 34px;
    margin-bottom: 15px;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.sales-search-panel{
	background: #263238;
    overflow: hidden;
    padding-top: 15px;
    margin-bottom: 4px;
    border-radius: 5px;
}

.pos-btn{
	width: 100%;
    height: 100px;
    padding: 0px 10px;
    font-size: 18px;
	color: #FFF !important;
    border: none;
    transition: 0.5s all;
    overflow: hidden;
    color: #fff;
    margin-bottom: 4px;
	border-radius:4px;
	position:relative;
	z-index:10;
}
.pos-btn:hover{
	opacity:1;
}

.pos-btn:focus{
	outline:none;
}

.pos-btn:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5; 
	z-index:-1;	
}


.item-container{
	padding-top:5px;
}

.item-container .col-md-6{
	padding-left:1px;
	padding-right:1px;
}

#receipt-table{
	width:100%;
	font-size: 12px;
}

#receipt-table .qnt{
	text-align: center;
	width:10%;
}
#receipt-table .price,#receipt-table .total{
	text-align: right;
	width:20%;
}

#table_2{
	font-size:12px; 
	border-top:1px dashed #121212;
	margin-top:5px;
}

.amount{
    text-align: right;
}

.appsvan-file{
	display:none !important;
}

.appsvan-file +.filename{ padding-right: 100px;}

.appsvan-upload-btn{
	float: right !important;
    margin-top: -33px;
    margin-right: 1px;
    height: 32px;
    border-radius: 4px;
    color: #FFF;
    background: #68B3C8;
    line-height: 16px;
}

#order-table td{
    vertical-align: middle;
}

.button-link{
    background: #FFF;
    outline: none;
    border: 0;
    margin-left: 15px;
}
.button-link:hover{
    color: #009688;
}

/* Jquery Validation Style*/

.vertical-form label.error {
    position: relative !important;
    display: inline-block;
    margin-top: 4px !important;
    margin-bottom: -8px !important;
    color: #fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
    padding: 5px 8px !important;
    background: #e74c3c !important;
    border-radius: 4px !important;
    border-bottom: 0px !important;
}

.vertical-form label.error.valid {
    display: none !important;
}

.vertical-form label.error:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #e74c3c;
    border-width: 5px;
    left: 30px;
    margin-left: -5px;
}

.error {
    border: 1px solid #e74c3c !important;
    background-position: center bottom, center calc(100% - 0px) !important;
}


.v-error{
	color: red;
}

select.error + span > span > span{
	border: 1px solid #e74c3c !important;
	border-radius: 4px;
}

checkbox.error + span{
	border: 1px solid #e74c3c !important;
	border-radius: 4px;
}

.ajax-submit label.error{display:none !important;}

#receipt-table i{
	color:red;
	font-size:16px;
}

.print-block{
	display:none;
}

.receipt-header{
	text-align:center;
	margin-top:10px;
}
.receipt-header p,h1,h2,h3,h4,h5{
	padding:0;
}

.receipt-header p{
	font-size:12px;
}

.receipt-header h5{
	font-size:14px;
}
.required{color:#e74c3c;}

#sales_note{
 width:100%;
 border:1px solid #ddd;
}
.sales_note{
  border:1px solid #ddd;
  width:100%;
}

.sales_note h3{
  margin: 15px 0px;
}

.table-seperator{
  width:100%;
  border: 1px dashed #000;
}

.btn-primary:not(.btn-link):not(.btn-flat){
	background-color:#007bff;
}

.btn-primary:not(.btn-link):not(.btn-flat):hover{
	background-color:#006cee;
}

.img-avatar{
	width:60px;
}

.action-col{
	width: 230px;
	text-align: center;
}

.nav-tabs {
    background: #3F51B5;
}

.modal-content{
	border-radius: 0px !important;
}

table.table-bordered.dataTable td {
    vertical-align: middle;
}

.tab-content > .tab-pane {
    overflow: hidden;
}

.note-toolbar{
	background: #FFF !important;
	padding: 0 !important;
}


ul.nav-tabs > li.active{
	background: #007bff;
	margin-bottom: 0px;
}

.fc-today-button{
	margin-top: 10px !important;
}
.fc-toolbar h2 {
    font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

#crm-tab{
	margin-top:15px;
}


@media print {
  body { -webkit-print-color-adjust: exact; !important}
  .invoice-status{ padding: 0px; }
  #sales_receipt{
	  border:none;	
  }
  th{
	  font-weight:bold;
  }
  .remove-row{
	  display:none;
  }
  .no-print{
	  display:none;
  }
  .print-block{
	display:block;
  }
}
