 html, body {
	background: #DE6262;
	background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
	background: linear-gradient(to right, #FFB88C, #DE6262); 
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	height: 100vh;
	margin: 0;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 48px;
}

.links > a {
	color: #FFF;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}